<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- White for arm cart base -->
  <material name="white">
    <color rgba="0.9 0.9 0.9 1.0"/>
  </material>
  
  <!-- Gray for joints -->
  <material name="gray">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>
  
  <!-- Orange for accent (Medtronic brand) -->
  <material name="orange">
    <color rgba="1.0 0.5 0.0 1.0"/>
  </material>

</robot>